@font-face {
    font-family: 'Cloud';
    src: url('../fonts/CloudScript-Regular.otf') format('opentype');
}

.font-alegreya {
    font-family: 'Alegreya', serif;
}

.font-cloud {
    font-family: 'Cloud', sans-serif;
}

.wedding-text-primary-color {
    color: var(--wedding-primary-color) !important;
}

.wedding-background-primary-color {
    background-color: var(--wedding-primary-color) !important;
}

.all-small-caps {
    font-variant: small-caps;
}

.wedding-text-shadow {
    text-shadow: var(--wedding-shadow);
}

.wedding-box-shadow {
    box-shadow: var(--wedding-shadow);
}

:root {
    --wedding-primary-color: #CFB0EF;
    --wedding-shadow: 0px 0px 10px rgba(139, 39, 242, 1);
}